name: Test
on:
  pull_request:

env:
  GH_TOKEN: ${{ github.token }}

permissions: read-all

jobs:
  prepare:
    runs-on: ubuntu-slim
    outputs:
      src: ${{ steps.changes.outputs.gh }}
      actor: ${{ steps.actor.outputs.actor }}
    steps:
      - name: $github
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "${GITHUB_CONTEXT}"
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - .github/workflows/main.yml
              - gh-activity-report
      - name: Check Actor
        id: actor
        run: |
          if [ "${GITHUB_ACTOR}" == "Copilot" ]; then
            echo "actor=false" >> "${GITHUB_OUTPUT}"
            exit 0
          fi
          if [ "${GITHUB_ACTOR}" == "dependabot[bot]" ]; then
            echo "actor=false" >> "${GITHUB_OUTPUT}"
            exit 0
          fi
          echo "actor=true" >> "${GITHUB_OUTPUT}"

  test:
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.src && needs.prepare.outputs.actor
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: make install
      - run: gh activity-report -d 7..3 -f comment | tee a.txt
      - run: gh activity-report --author srz-zumix -d 7..3 -f comment | tee b.txt
      - run: gh activity-report --author @me --author srz-zumix -d 7..3 -f comment | tee c.txt
      - name: Test Diff
        if: ${{ github.actor == 'srz-zumix' }}
        run: |
            # diff a.txt b.txt
            diff b.txt c.txt

  option-test:
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.src && needs.prepare.outputs.actor
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: make install
      - name: Test
        uses: srz-zumix/retry-run-action@b95c2c6ff59bf96537a9859d18cf85fa07caaed2 # v1.0.1
        env:
          TEST_SLEEP: 15
        with:
          interval: 300
          run: |
            ./.github/scripts/opt-test.sh

  old-bash-test:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: ubuntu 16.04 bash test
        run: |
          docker run --rm -v "$(pwd):/work" -w /work ubuntu:16.04 ./.github/scripts/syntax-check.sh

  status-check:
    needs:
      - test
      - option-test
      - old-bash-test
    runs-on: ubuntu-slim
    if: cancelled() || failure()
    steps:
      - run: exit 1
