name: Test
on:
  pull_request:

env:
  GH_TOKEN: ${{ github.token }}

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: make install
      - run: gh activity-report -d 7..3 -f comment | tee a.txt
      - run: gh activity-report --author srz-zumix -d 7..3 -f comment | tee b.txt
      - run: gh activity-report --author @me --author srz-zumix -d 7..3 -f comment | tee c.txt
      - name: Test Diff
        if: ${{ github.actor == 'srz-zumix' }}
        run: |
            # diff a.txt b.txt
            diff b.txt c.txt

  option-test:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: make install
      - name: Test
        uses: srz-zumix/retry-run-action@40be8edc05d941572a6238c37c629cc408014d10 # v0.3.0
        env:
          TEST_SLEEP: 15
        with:
          interval: 300
          run: |
            ./.github/scripts/opt-test.sh

  old-bash-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: ubuntu 16.04 bash test
        run: |
          docker run --rm -v "$(pwd):/work" -w /work ubuntu:16.04 ./.github/scripts/syntax-check.sh
